/*Basic CSS*/
body {
    margin: 0;
    padding: 0;
    color: rgb(33, 33, 33);
    font-family: Roboto Slab, Arial, serif;
    background-color: #cbcbcb;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    margin: 0;
    padding: 10px;
}
h2 {
    margin: 0;
    padding: 0;
}


footer a {
    color: white;
}

 img{
    size: auto;
    border-radius: 5px;
}


/*navigatiemenu met tabbladen*/

.topnav {
    border-radius: 5px;
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #654321;
    color: white;
}
/*Homepage*/
/* twee divs naast elkaar voor de homepage*/

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}


#firsthome, #secondhome{
    background-color: white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#wrapper-home {
    width: auto;
}
#firsthome {
    border-radius: 5px;
    /*border: #333333 solid 1px;*/
    float:left;
    margin-top: 10px;
    margin-left: 10px;
    width:55%;
    box-sizing: border-box;
}



#secondhome {
    border-radius: 5px;
    /*border: #333333 solid 1px;*/
    float:left;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 30px;
    width:35%;
}
.p-home{
    margin: 5px;
    padding:5px;
}

.headerhome{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    border: #333333 solid 1px;
    color: white;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20200807/pngtree-plane-wood-texture-seamless-background-image_387389.jpg);
    background-size:  100%;
    background-position: center;
    padding: 0;
    margin: 0;
}

/*!*CSS voor aboutpage*!*/




/*CSS voor header (afbeelding)*/

header {
    background-image: url(https://i.imgur.com/WuaX8oT.jpg);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
}

footer {
    background-color: #333439;
    text-align: center;
    padding: 70px;
    color: white;
}

/*Aanpassingen aan tekst voor kleiner scherm. Extra toegankelijkheid*/
@media only screen and (max-width: 750px) {
    nav {
        display: block;
    }
    .topnav a{
        font-size: larger;
    }
    /*.nav-item{*/
    /*    font-size: larger;*/
    /*}*/
}

/*Buttons en invoervelden*/

button {
    border-radius: 5px;
    border:1px solid black;
    padding:6px;
    font-size:1.2em;
    cursor:pointer;
    background-color: #0ca00c;
    color:white;

}
input {
    display: inline-block;
    border: 1px;
    padding:7px;
}

input:required:valid{
    border-bottom: 2px solid green;
}
input:required:invalid{
    border-bottom: 2px solid red;
}

label{
    margin: 10px;
    padding:5px;
}

*{ box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }


/* ---- grid ---- */

.grid {
    background: #cbcbcb;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item. Foto's in de grid---- */
.grid-sizer{
    position: center;
}
.grid-sizer,
.grid-item {
    width: 32%;
}

.grid-item {

    margin: 10px;
    float: left;
}

.grid-item img {
    border-radius: 5px;
    display: block;
    max-width: 100%;
}
